<h4>Administrator Info</h4>

<div class="row">

    <div id="username_form_group_parent_div" class="form-group ">
        <input id="username" class="form-control" type="text" placeholder="Filter by Username" value="" name="username">
    </div>

    <div class="form-group   " id="email_form_group_parent_div">
        <input id="email" class="form-control" type="text" placeholder="Filter by Email Address" value="" name="email">
    </div>

    <div id="country_form_group_parent_div" class="form-group ">
        <select id="country" name="country" class="form-control">
            <option value="">-- Filter By Country --</option>
            <option value="AF">Afghanistan</option>
            <option value="AL">Albania</option>
            <option value="DZ">Algeria</option>
            <option value="AS">American Samoa</option>
            <option value="AD">Andorra</option>
        </select>
    </div>

    <div id="fullName_form_group_parent_div">
        <input id="fullName" class="form-control" type="text" placeholder="Filter by Name" value="" name="fullName">
    </div>
</div>

<a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="btn btn-primary fa fa-plus">
    {{ 'Add' | translate }}
</a>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table id="myTable">
    <tr class="header">
        <th>Username</th>
        <th>Email</th>
        <th>Full Name</th>
        <th>Country</th>
        <th>Date Created</th>
        <th>View</th>
        <th>Update</th>
        <th>Copy??</th>
        <th>Reset Password</th>
    </tr>
    <tr>
        <td>placeUser</td>
        <td>place@this.copm</td>
        <td>Alfreds Futterkiste</td>
        <td>South Africa</td>
        <td>2017-02-06</td>
        <td><i class="fa fa-eye"></i></td>
        <td><i class="fa fa-edit"></i></td>
        <td><i class="fa fa-copy"></i></td>
        <td><i class="fa fa-unlock"></i></td>

    </tr>
</table>

