
    <h2 class="text-muted">Device Register </h2>
    <div _ngcontent-c4="" class="card mb-3">
                <div _ngcontent-c4="" class="card-header card-default">
                    Device Details
                </div>
                <div _ngcontent-c4="" class="card-block deviceRegister">
                    <fieldset _ngcontent-c20="" class="form-group">

                    <label _ngcontent-c20="" class="ng-tns-c20-1">Please enter the device's serial number that is on your device. </label>
                    <input  _ngcontent-c20="" required class="form-control" placeholder="eg. 52648d956">
                </fieldset>
                </div>
                <button class="btn btn-success"  type="submit">Register</button>
            </div>
