<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-user"></i>&nbsp;{{ 'Profile' | translate }}&nbsp;</span>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Profile' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/avatar']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Upload Avatar' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/changePass']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Change Password' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('clients')">
                <span><i class="fa fa-user"></i>&nbsp;{{ 'Users' | translate }}&nbsp;</span>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <li class="nested" [class.expand]="showMenu === 'clients'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/clients']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Clients' | translate }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/avatar']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Admin' | translate }}
                        </a>
                    </li>
                </ul>
            </li>
        </div>


        <a [routerLink]="['/devices-info']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-eye"></i>&nbsp;{{ 'Devices' | translate }}
        </a>

        <a [routerLink]="['/device-register']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-mobile fa-eye"></i>&nbsp;{{ 'Device Register' | translate }}
        </a>


        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Payment Groups' | translate }}
        </a>

        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Firmware' | translate }}
        </a>

        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Hardware' | translate }}
        </a>

    </ul>
</nav>
