<h4>Hardware Info</h4>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">

<table id="firmware">
    <tr class="header">
        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="autoFilterTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Product: activate to sort column descending" style="width: 209px;">Product</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="autoFilterTable" rowspan="1" colspan="1" aria-label="Major: activate to sort column ascending" style="width: 155px;">Major</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="autoFilterTable" rowspan="1" colspan="1" aria-label="Minor: activate to sort column ascending" style="width: 160px;">Minor</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="autoFilterTable" rowspan="1" colspan="1" aria-label="Description: activate to sort column ascending" style="width: 287px;">Description</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="autoFilterTable" rowspan="1" colspan="1" aria-label="Created: activate to sort column ascending" style="width: 311px;">Created</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="autoFilterTable" rowspan="1" colspan="1" aria-label="Update: activate to sort column ascending" style="width: 190px;">Update</th>
        <th class="sorting" role="columnheader" tabindex="0" aria-controls="autoFilterTable" rowspan="1" colspan="1" aria-label="Try to Delete: activate to sort column ascending" style="width: 308px;">Try to Delete</th>
    </tr>
    <tr>
        <td class="  sorting_1">Pico</td>
        <td class=" ">4</td>
        <td class=" ">2</td>
        <td class=" ">Production</td>
        <td class=" ">May 23, 2016</td>
        <td class=" ">
            <a href="#">
                <button class="btn btn-sm btn-primary" type="button" title="Update"> <i class="fa fa-edit"></i></button>
            </a>
        </td>
        <td class=" ">
            <a href="#" onclick="return confirm('Are you sure you want to delete?');">
                <button class="btn btn-sm btn-danger" type="button" title="Try to Delete"> <i class="fa fa-times"></i></button>
            </a>
        </td>
    </tr>
    <tr>
        <td class="  sorting_1">Pico</td>
        <td class=" ">4</td>
        <td class=" ">2</td>
        <td class=" ">Production</td>
        <td class=" ">May 23, 2016</td>
        <td class=" ">
            <a href="#">
                <button class="btn btn-sm btn-primary" type="button" title="Update"> <i class="fa fa-edit"></i></button>
            </a>
        </td>
        <td class=" ">
            <a href="#" onclick="return confirm('Are you sure you want to delete?');">
                <button class="btn btn-sm btn-danger" type="button" title="Try to Delete"> <i class="fa fa-times"></i></button>
            </a>
        </td>
    </tr>
</table>

