<div class="login-page" >
    <div class="row">
        <div class="col-md-4 push-md-4">
            <img src="assets/images/snuza_connect_logo.png" width="300px" style="border: none" class="user-avatar" />
  
            <form role="form">
                <div class="row">
                    <div class="col-lg-6">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="User Name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Phone number">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                    <!--<div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
                    </div>

                      <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Middel Name">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control input-underline input-lg" id="" placeholder="Last Name">
                    </div>-->

                </div>
                </div>

                           <div class="col-lg-6">
                <div class="form-content">
                  

                    <!--<div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Repeat Password">
                    </div>-->
                </div>
                </div>
                </div>


                
                <a class="btn rounded-btn" [routerLink]="['/dashboard']"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>
