// shared css for the login and signup page
@import "../login/login.component.scss";
.register{
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 25px;
    text-align: left;
    height: 100%;
}
.form-group{
    padding: 0px;
}
