<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
         <a [routerLink]="['/device-register']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-mobile fa-eye"></i>&nbsp;{{ 'Device Register' | translate }}
        </a>

        <a [routerLink]="['/devices-info']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-eye"></i>&nbsp;{{ 'Devices' | translate }}
        </a>

        <div class="nested-menu">
            <a class="list-group-item" (click)="addExpandClass('pages')">
                <span><i class="fa fa-user"></i>&nbsp;{{ 'Profile' | translate }}&nbsp;</span>
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <li>
                        <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Profile' | translate }}
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                    <li>
                        <a href="javascript:void(0)"><span>{{ 'submenu' | translate }}</span></a>
                    </li>
                </ul>
            </li>
        </div>

        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Subscription' | translate }}
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.snuza.picoconnect" target="_blank">
<img src="assets/images/google_play.png" width="150px" style="padding:10px" class="user-avatar" />
        </a>
        <img src="assets/images/app_store.png" width="150px" style="padding:10px" class="user-avatar" />

<!--
        <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{ 'charts' | translate }}
        </a>
        <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'tables' | translate }}
        </a>
        <a [routerLink]="['/forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'forms' | translate }}
        </a>
        <a [routerLink]="['/bs-element']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'boostrapElement' | translate }}
        </a>
        <a [routerLink]="['/grid']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;{{ 'boostrapGrid' | translate }}
        </a>
        <a [routerLink]="['/components']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-list"></i>&nbsp;{{ 'component' | translate }}
        </a>


        <a class="list-group-item more-themes" href="http://www.strapui.com/" >
            {{ 'moretheme' | translate }}
        </a>-->
    </ul>
</nav>
