<div class="login-page"  >

    <div class="row" style="  background-color: rgba(255, 255, 255, 0.5);max-width: 700px">
        <div class="col-md-4 push-md-4" >
            <img src="assets/images/snuza_connect_logo.png" width="300px" style="border: none" class="user-avatar" />
            <form role="form">
                <div class="form-content"  align="center">
                    <div class="form-group">
                        <input type="text" ng-model="name" class="form-control input-underline input-lg" id="" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
                    </div>
                </div>
                <a class="btn btn-primary" [routerLink]="['/dashboard']" (click)="onLoggedin()"> Log in </a>
                &nbsp;
                <a class="btn btn-link" [routerLink]="['/signup']">Register</a>
            </form>
        </div>
    </div>
</div>
