<h4>Personal Details</h4>
<div class="row">

    <div class="col-xs-6 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">Username </label>
        <input disabled _ngcontent-c20="" required class="form-control" placeholder="eg. netbal21">
    </div>
    <div class="col-xs-6 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">Email Address </label>
        <input _ngcontent-c20="" required class="form-control" placeholder="eg. mine@gmail.com">
    </div>
    <div class="col-xs-6 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">Phone Number </label>
        <input _ngcontent-c20="" required class="form-control" placeholder="eg. 07281231234">
    </div>
</div>
<div class="row">
    <div class="col-xs-6 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">First Name * </label>
        <input _ngcontent-c20="" required class="form-control" placeholder="eg. Ernst">
    </div>
    <div class="col-xs-6 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">Middle Name  </label>
        <input _ngcontent-c20="" required class="form-control" placeholder="eg. Otto">
    </div>
    <div class="col-xs-6 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">Last Name*  </label>
        <input _ngcontent-c20="" required class="form-control" placeholder="eg. Dettbarn">
    </div>
</div>

<hr/>
<h4>Address Details</h4>
<div class="row">
    <div class="form-group">
        <label for="sel1">Country *</label>
        <select class="form-control"  id="sel1">
            <option>South Africa</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <div class="form-group">
        <label for="sel1">Time Zone *</label>
        <select class="form-control"  id="sel1">
            <option>Africa/Jhb</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </div>
    <div class="col-xs-3 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">City *  </label>
        <input _ngcontent-c20="" required class="form-control" placeholder="eg. Pretoria">
    </div>
    <div class="col-xs-3 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">State/Province *  </label>
        <input _ngcontent-c20="" required class="form-control" placeholder="eg. Gauteng">
    </div>
    <div class="col-xs-3 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">Zip/Postal Code *  </label>
        <input _ngcontent-c20="" required class="form-control" placeholder="eg. 0001">
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-3 form-group">
        <label  class="ng-tns-c20-1">Line 1 *  </label>
        <input  required class="form-control" placeholder="eg. 21 Mylane">
    </div>
    <div class="col-xs-3 form-group">
        <label _ngcontent-c20="" class="ng-tns-c20-1">Line 2 </label>
        <input _ngcontent-c20="" required class="form-control" placeholder="eg. 44 Picketberg">
    </div>
</div>
<hr/>
<button class="btn btn-success" type="submit">Save</button>
<button class="btn btn-primary" type="submit">Cancel</button>
